
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: #DDDDDD;
}

.navbar {
    background-color: #0076BF;
    color: white;
}

p{ 
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

  
h1{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* https://www.w3schools.com/howto/howto_css_topnav_right.asp */
/* Left-aligned section inside the top navigation */
.topnav-left {
    float: left;
  }

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
  }

  
.page-container {
    margin-top: 75px;
}

/* Visited Catalog Page */
#fab {
    background: #BA76F5;
    bottom: 10px;
    color: white;
    position: fixed;
    right: 10px;
    z-index: 999;
}

#fab:active{
    opacity: 0.8;
    transform: translateY(2px);
}
/* Visited Catalog Page */


/* Page Menu */
/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #B2D6F4; /* Light blue*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  /* Navigation links change color when hover*/
  .sidenav a:hover {
    color: #673AB7;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* Page Menu */

#homeMap{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Checklist */
#checklistMap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  margin-bottom: 10px;
  width: 60%;
}

#checklistTabs {
  background-color: #0076BF;
  position: fixed;
  top: 55px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  width: 100%;
}

#checklistNavbar {
  box-shadow: none;
}

#checklistTabs > li > a {
  color: white;
}
/* Checklist */



/* Interactive Map https://simplemaps.com/custom/us#data */ 
.legend{color: black; width: 100%; font-family: arial; font-size: 14px;}    
.legend_color {display: table; width: 100%; background: white; list-style: none; margin: 0px; padding: 0px; }
.legend_color li{width: 20%;  height: 20px; display: table-cell;}
.legend_label {display: table; width: 100%;  padding: 0px; padding-left: 10%; padding-right: 10%; list-style: none; margin: 0px; box-sizing: border-box;}
.legend_label li{width: 25%;  height: 20px; display: table-cell; text-align: center;}

#mapdivCH{
  padding-top: 50px;
}

.dropdown-menu-right{
  left: -128px;
}

#profileSetupPage #submitProfile {
  margin-top: 10px;
  background-color: #800000;
  color: white;
}

#map {
  margin-top: 140px;
  width: 100%;
  height: 400px;
  z-index: 0;
}

#mainPage > #map {
  margin-top: 75px;
  width: 100%;
  height: 400px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 20px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}